* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: #99bfcf #dedede;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; 

    @media only screen and (max-width: 1130px) {
        font-size: 59.5%;
    }
    @media only screen and (max-width: 750px) {
        font-size: 52.5%;
    }
    @media only screen and (max-width: 500px) {
        font-size: 50.5%;
    }
}

body {
    font-family: sans-serif;
}

$light-green: #DCFADB;
$light-purple: #DBE2FA;
$light-yellow: #FAEFDB;
$light-red: #FADBE2;
$light-blue: #DBEFFA;
$middle-green: #76E072;
$middle-blue: #86A1FF;
$middle-yellow: #FFC761;
$middle-red: #FFBDCD;
$grey: #78746D;
$dark-blue: #449BC0;
$dark-red: #FF7E7E;

.grid {
    padding: 1.5rem 1.5rem 1.5rem 0rem;
    padding-left: 0;
    display: grid;
    grid-template-rows: 
        minmax(10vh, 100px) repeat(2, minmax(200px,15vh)) minmax(200px, 20vh);
    grid-template-columns: 
        120px repeat(3, 1fr);
    grid-gap: 3rem;
    grid-template-areas: "sidebar cards     cards leftBar"
                         "sidebar liPacient notes leftBar"
                         "sidebar liPacient notes leftBar"
                         "sidebar graph     graph leftBar";

    @media only screen and (max-width: 900px) {
        grid-template-columns: 
            100px repeat(2, 1fr);
            grid-gap: 15px;

        grid-template-areas: "sidebar cards     leftBar"
                             "sidebar liPacient leftBar"
                             "sidebar notes     leftBar"
                             "sidebar graph     leftBar";
    }

    @media only screen and (max-width: 800px) {
        grid-template-columns: 
            100px 1fr;
        grid-template-rows: 
            10vh repeat(4, 25vh);
        grid-gap: 12.5px;

        grid-template-areas: "sidebar cards"
                             "sidebar leftBar"
                             "sidebar liPacient"
                             "sidebar notes"
                             "sidebar graph";
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: 
            25vh 210px repeat(4, 35vh);
        grid-template-areas: "sidebar"
                             "cards"
                             "leftBar"
                             "liPacient"
                             "notes"
                             "graph";

                             
    }   
}

.sidebar,
.cards,
.liPacient,
.graph,
.notes,
.leftBar {
    border-radius: 16px;
}


.sidebar {
    grid-area: sidebar;
    background-color: $light-blue;
    border-radius: 0 16px 16px 0;
    min-height: 100.5vh;
    transform: translateY(-1.1%);
    

    .circle {
        margin: 0 auto;
        margin-top: 2rem;
        border-radius: 50%;
        width: 7.5rem;
        height: 7.5rem;
        background-color: white;
        padding: 0rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
        
        img {
            height: 100%;
            width: auto;
        }
    }
}

.cards {
    grid-area: cards;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;

    .card {
        border-radius: 1.6rem;
        &1 {
            background-color: $light-green;
            i {color: $middle-green;}
        }
        &2 {
            background-color: $light-purple;
            i {color: $middle-blue;}
        }
        &3 {
            background-color: $light-yellow;
            i {color: $middle-yellow;}
        }
        &4 {
            background-color: $light-red;
            i {color: $middle-red;}
        }

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(10vh,100px));
    }

    .square {
        border-radius: 9px;
        width:  6rem;
        height: 6rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 2.5rem;
        }
    }

    .desc {
        display: flex;
        flex-direction: column;
        text-align: center;

        .number {
            font-size: 3.2rem;
            color: black;
            font-weight: 500;   
        }
        
        .title {
            color: $grey;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.liPacient {
    grid-area: liPacient;
    background-color: white;
    padding-right: 1rem;
    
    .pacientWrapper {
        overflow-Y: auto;
        height: 80%;
        padding-bottom: .5rem;
        padding-right: 1rem;

          /* Chrome, Edge, and Safari */
            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #dedede;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #99bfcf;
                border-radius: 7px;
                border: 0px solid #ffffff;
            }
    }

    .h2 {
        font-weight: 700;
        font-size: 1.6rem;
        color: $grey;
        margin-bottom: 2rem;
        padding: 2.5%;
        padding-top: 5%;
        margin-left: 1.5rem;
    }

    .pacient {
        width: 95%;
        background-color: $light-blue;
        margin: 0 2.5%;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 10rem;
        margin-bottom: 1.5rem;
        padding: 1.5rem;
        
        .wrapper {
            display: flex;
            align-items: center;

            .circle {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background-color: white;
    
                i {
                    font-size: 4rem;
                    color: $light-blue;
                }
            }
    
            .name {
                margin-left: 1.5rem;
                font-weight: 700;
                font-size: 1.6rem;
                color: $grey;
            }
        }


        .btn {
            border: 2px solid $dark-blue;
            border-radius: 50%;
            width:  2.4rem;
            height: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(0, 0, 0, 0);
            cursor: pointer;
            padding: 1.2rem;

            .dots {
                color: $dark-blue;
                font-size: 2rem;
                transform: translateY(-20%);
            }
        }
    }
}

.graph {
    grid-area: graph;
    
    background-image: url('../grafic.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notes {
    grid-area: notes;
    background-color: $light-blue;
    padding-right: 1rem;
    .h2 {
        font-weight: 700;
        font-size: 1.6rem;
        color: $grey;
        margin-bottom: 2rem;
        padding: 2.5%;
        padding-top: 5%;
        margin-left: 1.5rem;
    }

    .notesWrapper {
        overflow-Y: auto;
        max-height: 75%;
        padding-bottom: .5rem;
        padding-right: 1rem;


  /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #dedede;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #99bfcf;
        border-radius: 7px;
        border: 0px solid #ffffff;
    }

        .note {
            background-color: white;
            border-left: 15px solid $dark-red;
            
            width: 95%;
            margin: 0 2.5%;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 10rem;
            margin-bottom: 1.5rem;
            padding: 1.5rem;

            min-height: 8rem;
            margin-bottom: 1.5rem;
            padding: 1.5rem;
            
            .wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .title {
                    font-weight: 700;
                    font-size: 1.6rem;
                    color: $grey;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -25%;
                        left: 0;
                        width: 200%;
                        height: .5px;
                        background-color: $grey;
                        align-self: flex-start;

                        background: #D9D9D9;
                        border-radius: 107px;
                    }
                }

                .btn {
                    border: 2px solid $dark-blue;
                    border-radius: 50%;
                    width:  2.4rem;
                    height: 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgb(0, 0, 0, 0);
                    cursor: pointer;
                    padding: 1.2rem;
        
                    .dots {
                        color: $dark-blue;
                        font-size: 2rem;
                        transform: translateY(-20%);
                    }
                }
            }

            /* .line {width: 50%; height: .5px; background-color: $grey; align-self: flex-start;} */

            .desc {
                font-size: 1.6rem;
                font-weight: 700;
                color: $grey;
                text-align: center;
                padding-top: 1rem;
            }
        }
    }

}

.leftBar {
    grid-area: leftBar;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;

    .h2 {
        font-weight: 700;
        font-size: 1.6rem;
        color: $grey;
        margin-bottom: 2rem;
        padding: 2.5%;
        padding-top: 5%;
        width: 85%;
    }

    .wrapperSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 90%;

        justify-content: space-around;
    }

    .calender {
        width: 85%;
        min-height: 28.5rem;
        background: #FFFFFF;
        border-radius: 24px;
    
        background-image: url('../calendario.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .events {
        overflow-Y: auto;
        width: 87.5%;
        max-height: 25%;
        padding-bottom: .5rem;
        padding-right: 1rem;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #dedede;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #99bfcf;
            border-radius: 7px;
            border: 0px solid #ffffff;
        }

        .event {
            background-color: white;
            border-left: 15px solid $dark-red;
            
            width: 95%;
            margin: 0 2.5%;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 8rem;
            margin-bottom: 1.5rem;
            padding: 1.5rem;

            min-height: 10rem;
            margin-bottom: 1.5rem;
            padding: 1.5rem;

            .wrapperDesc {
                display: flex;
                align-items: left;
                // justify-content: space-between;
                flex-direction: column;
                // justify-content: space-between;
                width: 100%;

                .title {
                    font-weight: 700;
                    font-size: 1.6rem;
                    color: $grey;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -25%;
                        left: 0;
                        width: 50%;
                        height: .5px;
                        background-color: $grey;
                        align-self: flex-start;

                        background: #D9D9D9;
                        border-radius: 107px;
                    }
                }             

                .desc {
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: $grey;
                    text-align: left;
                    padding-top: 1rem;
                    word-break: break-word;
                }
            }

            .wrapperDate {
                display: flex;
                flex-direction: column;
                align-items: center;
                .date, .dateNumber {
                    font-weight: 700;
                    font-size: 2rem;
                    color: $grey;
                }
            }

        }
    }

    .newProgram {
        background-color: $dark-blue;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        justify-content: space-between;
        padding: 1.5rem 2rem;
        border-radius: 16px;
        border: none;
        width:  max-content;

        /* .circle {
            margin: 0 auto;
            border-radius: 50%;
            width: 7rem;
            height: 7rem;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i {
                font-size: 2.5rem;
                color: $dark-blue;
            }
        } */

        .btnText {
            font-weight: 400;
            font-size: 2.5rem;
            text-align: center;
            color: #FFFFFF;
            word-break: break-all;
            margin-left: 1rem;
        }
    }
}
