* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;

    @media only screen and (max-width: 1130px) {
        font-size: 59.5%;
    }
    @media only screen and (max-width: 750px) {
        font-size: 52.5%;
    }
    @media only screen and (max-width: 500px) {
        font-size: 50.5%;
    }
}

body {
    font-family: sans-serif;
}

$light-green: #DCFADB;
$light-purple: #DBE2FA;
$light-yellow: #FAEFDB;
$light-red: #FADBE2;
$light-blue: #DBEFFA;
$middle-green: #76E072;
$middle-blue: #86A1FF;
$middle-yellow: #FFC761;
$middle-red: #FFBDCD;
$grey: #78746D;
$dark-blue: #449BC0;
$dark-red: #FF7E7E;

.grid {
    padding-left: 0;
    padding-right: .5rem;
    display: grid;
    grid-template-rows: 
        10vh 28.5vh 28.5vh 28.5vh;
    grid-template-columns: 
        100px repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas: "sidebar cards     cards leftBar"
                         "sidebar liPacient notes leftBar"
                         "sidebar liPacient notes leftBar"
                         "sidebar graph     graph leftBar";

    @media only screen and (max-width: 900px) {
        grid-template-columns: 
            100px repeat(2, 1fr);
            grid-gap: 15px;

        grid-template-areas: "sidebar cards     leftBar"
                             "sidebar liPacient leftBar"
                             "sidebar notes     leftBar"
                             "sidebar graph     leftBar";
    }

    @media only screen and (max-width: 800px) {
        grid-template-columns: 
            100px 1fr;
        grid-template-rows: 
            10vh repeat(4, 25vh);
        grid-gap: 12.5px;

        grid-template-areas: "sidebar cards"
                             "sidebar leftBar"
                             "sidebar liPacient"
                             "sidebar notes"
                             "sidebar graph";
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: 
            25vh 210px repeat(4, 35vh);
        grid-template-areas: "sidebar"
                             "cards"
                             "leftBar"
                             "liPacient"
                             "notes"
                             "graph";

                             
    }   
}

.sidebar,
.cards,
.liPacient,
.graph,
.notes,
.leftBar {
    border-radius: 16px;
}


.sidebar {
    grid-area: sidebar;
    background-color: $light-blue;
    border-radius: 0 16px 16px 0;

    .circle {
        margin: 0 auto;
        margin-top: 1rem;
        border-radius: 50%;
        width: 7.5rem;
        height: 7.5rem;
        background-color: white;
        padding: 0rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        i {
            font-size: 6rem;
            color: $light-blue;
        }
    }
}

.cards {
    grid-area: cards;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;

    .card {
        border-radius: 1.6rem;
        &1 {
            background-color: $light-green;
            i {color: $middle-green;}
        }
        &2 {
            background-color: $light-purple;
            i {color: $middle-blue;}
        }
        &3 {
            background-color: $light-yellow;
            i {color: $middle-yellow;}
        }
        &4 {
            background-color: $light-red;
            i {color: $middle-red;}
        }

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    @media only screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 100px);
    }

    .square {
        border-radius: 9px;
        width: 5rem;
        height: 5rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 2.5rem;
        }
    }

    .desc {
        display: flex;
        flex-direction: column;
        text-align: center;

        .number {
            font-size: 3.2rem;
            color: black;
            font-weight: 500;   
        }
        
        .title {
            color: $grey;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.liPacient {
    grid-area: liPacient;
    background-color: white;
    
    .pacientWrapper {
        overflow: auto;
        height: 85%;
        padding-bottom: .5rem;
    }

    .h2 {
        font-weight: 700;
        font-size: 1.6rem;
        color: $grey;
        margin-bottom: 2rem;
        padding: 2.5%;
        padding-top: 5%;
    }

    .pacient {
        width: 95%;
        height: 8rem;
        background-color: $light-blue;
        margin: 0 2.5%;
        border-radius: 16px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        
        .wrapper {
            display: flex;
            align-items: center;

            .circle {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background-color: white;
    
                i {
                    font-size: 4rem;
                    color: $light-blue;
                }
            }
    
            .name {
                margin-left: 1.5rem;
                font-weight: 700;
                font-size: 1.6rem;
                color: $grey;
            }
        }


        .btn {
            border: 2px solid $dark-blue;
            border-radius: 50%;
            width:  2.4rem;
            height: 2.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(0, 0, 0, 0);
            cursor: pointer;
            padding: 1.2rem;

            .dots {
                color: $dark-blue;
                font-size: 2rem;
                transform: translateY(-20%);
            }
        }
    }
}

.graph {
    grid-area: graph;
    background-color: cadetblue;
    background-color: chartreuse;
}

.notes {
    grid-area: notes;
    background-color: $light-blue;
    padding-bottom: 2rem;
    .h2 {
        font-weight: 700;
        font-size: 1.6rem;
        color: $grey;
        margin-bottom: 2rem;
        padding: 2.5%;
        padding-top: 5%;
    }

    .notesWrapper {
        overflow: auto;
        height: 85%;

        .note {
            width: 95%;
            height: 8rem;
            background-color: white;
            border-left: 15px solid $dark-red;
            margin: 0 2.5%;
            border-radius: 16px;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            
        }
    }

}

.leftBar {
    grid-area: leftBar;
    background-color: cadetblue;
    background-color: coral;
}
