$light-green: #DCFADB;
$light-purple: #DBE2FA;
$light-yellow: #FAEFDB;
$light-red: #FADBE2;
$light-blue: #DBEFFA;
$middle-green: #76E072;
$middle-blue: #86A1FF;
$middle-yellow: #FFC761;
$middle-red: #FFBDCD;
$grey: #78746D;
$dark-blue: #449BC0;
$dark-red: #FF7E7E;

$font-color: #181945;

@mixin margin-y($value) {
    margin-top:    $value;
    margin-bottom: $value;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: thin;
    scrollbar-color: #99bfcf #dedede;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; 

    @media only screen and (max-width: 1130px) {
        font-size: 59.5%;
    }
    @media only screen and (max-width: 750px) {
        font-size: 52.5%;
    }
    @media only screen and (max-width: 500px) {
        font-size: 50.5%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

.gridWrapper {
    display: grid;
    grid-template-columns: [sidebar-start] 250px [sidebar-end main-start] calc(100vw - 250px) [main-end];
    grid-template-rows: 100vh;
}


.sidebar {
    grid-column: sidebar-start / sidebar-end;
    background-color: $dark-blue;
    grid-row: 1 / -1;

    padding: 4rem 4rem;

    display: grid;

    .logo {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 800;
        color: white;
        align-self: flex-start;

        img {
            margin-right: 1rem;
        }
    }

    .nav {
        ul {
            list-style: none;
        }

        .navitem {
            color: white;
            font-weight: 600;
            font-size: 1.8rem;

            transition: all 300ms ease;
            &:hover {background-color: #449bc0ba;}
        }
        
        .navlink {
            width: 100%;
            text-decoration: none;
        }

        .line {
            border: 0;
            height: 1.5px;
            background: #E3E3E3;
            width: 130%;
            @include margin-y(1.5rem)
        }
    }

    .logout {
        display: flex;
        align-items: center;
        align-self: flex-end;

        border: none;
        background-color: #00000000;
        width: min-content;
        height: min-content;

        cursor: pointer;
        
        img {
            margin-right: 1rem;
        }
        color: white;
        font-size: 2rem;
        font-weight: 600;

        transition: all 300ms ease;
        &:hover {color: rgba(255, 255, 255, 0.773);}
    }
}

.main {
    grid-column: main-start / main-end;
    grid-row: 1 / -1;
    padding: 4rem;

    display: grid;
    grid-template-rows: [welcome-start] 8.5vh [welcome-end infos-start] 72.5vh [infos-end];
    gap: 10vh;

    .topbar {
        grid-row: welcome-start / welcome-end;
        .h1 {
            font-weight: 700;
            font-size: 3.4rem;
            color: $font-color;
        }

        .highlight {
            color: $dark-blue;
        }

        
        padding-bottom: 2   rem;
        border-bottom: 1px solid #D9D9D9;
    }

    section.infos {
        grid-row: infos-start / infos-end;
        display: grid;
        grid-template-columns: 70% 25%;
        grid-template-rows: 100%;
        gap: 5%;
        .h1 {
            font-weight: 700;
            font-size: 3.4rem;
            color: $font-color;
        }

        .patients {
            // background-color: $middle-green;
            grid-column: 1 / 2;
            grid-row: 1 / -1;

            .form {
                margin-top: 2.5rem;
                margin-bottom: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .inputWrapper {
                    display: flex;
                    align-items: center;
                }

                .input {
                    background: #FFFFFF;
                    border: 2px solid #666666;
                    border-radius: 16px;
                    min-width: 35rem;
                    padding: 1.25rem 1.25rem;
                    font-size: 1.5rem;
                    margin-right: 1rem;

                    &:focus {
                        outline: none !important;
                    }
                }

                .btnSubmit {
                    border: none;
                    border-radius: 6px;
                    background-color: $dark-blue;
                    padding: 1.5rem;
                    cursor: pointer;
                    transition: all 300ms ease;
                    
                    &:focus {outline: none;}
                    &:hover {background-color: #449bc0ba;}
                }

                .btnAdd {
                    border: none;
                    border-radius: 6px;
                    background-color: $dark-blue;
                    padding: 1.3rem;
                    cursor: pointer;

                    color: white;
                    font-weight: 500;
                    font-size: 1.5rem;
                    float: right;
                    transition: all 300ms ease;

                    &:focus {outline: none;}
                    &:hover {background-color: #449bc0ba;}
                }

            }
            nav {
                margin-top: 5rem;
            }
        }
        
        .myprofile {
            // background-color: $dark-red;
            grid-column: 2 / 3;
            grid-row: 1 / -1;
            margin-top: 6.5rem ;

            .h1 {
                font-weight: 700;
                font-size: 3.4rem;
                color: $font-color;
            }

            .box {
                background-color: $light-blue;
                border-radius: 32px;
                margin-top: 2rem;
                // height: calc(100% - (6.5rem + 3.4rem));
                // height: 87.5%;
                height: min-content;
                width:  100%;
                // width: max-content;
                // display: flex;
                // flex-direction: column;
                // justify-content: space-between;
                
                padding: 3rem 3rem;

                .imgWrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin-bottom: 2rem;
                }

                .circle {
                    width:  10rem;
                    height: 10rem;   
                    margin-bottom: 1rem;
                    img {
                        // border: 3px solid #449BC0;
                        width: 100%;
                        height: auto;
                    }
                }

                .name {
                    font-weight: 600;
                    font-size: 2.4rem;
                    color: $font-color;
                    text-align: center;
                }

                .info {

                    .data {
                        // width: min-content;
                        .label {
                            font-weight: 600;
                            font-size: 1rem;
                            color: #666666;
                            
                            margin-top: .1rem;
                        }
                        
                        .wrap {
                            display: flex;
                            justify-content: space-between;
                            i {
                                color: #A0A4A8;
                                font-size: 1.4rem;
                                margin-top: -1rem;
                                cursor: pointer;
                            }
                            .input {
                                font-weight: 600;
                                margin-top: -1rem;
                                font-size: 1.8rem;
                                color: $font-color;
                            }
                        }

                    }
                }
            }
        }


    }
}

.gameSection {
    transform: translateY(-5%);
    .form {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .inputWrapper {
            display: flex;
            align-items: center;
        }

        .input {
            background: #FFFFFF;
            border: 2px solid #666666;
            border-radius: 16px;
            min-width: 35rem;
            padding: 1.25rem 1.25rem;
            font-size: 1.5rem;
            margin-right: 1rem;

            &:focus {
                outline: none !important;
            }
        }

        .btnSubmit {
            border: none;
            border-radius: 6px;
            background-color: $dark-blue;
            padding: 1.5rem;
            cursor: pointer;
            transition: all 300ms ease;
            
            &:focus {outline: none;}
            &:hover {background-color: #449bc0ba;}
        }

        .category {
            
            border: none;
            border-radius: 6px;
            background-color: $dark-blue;
            padding: 1.3rem;
            cursor: pointer;

            color: white;
            font-weight: 500;
            font-size: 1.5rem;
            float: right;
            transition: all 300ms ease;

            &:focus {outline: none;}
            &:hover {background-color: #449bc0ba;}
        }
    }

    .games {
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        // grid-template-rows: repeat(2, 40vh);

        .game {
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            min-height: 50rem;

            .imgBox {
                width: 100%;
                height: 60%;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px 16px 0 0;
                }

                /* &1 {background-image: url('../images/joguinhos1.png');}
                &2 {background-image: url('../images/joguinhos2.png');}
                &3 {background-image: url('../images/joguinhos3.png');}
                background-size: cover;
                background-repeat: no-repeat; */
            }

            .text {
                padding: 2rem 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 40%;

                .h2 {
                    font-weight: 600;
                    font-size: 2.2rem;
                    color: $font-color;
                }
                .p {
                    font-weight: 400;
                    font-size: 1.2rem;
                }

                .btnPlay {
                    border: none;
                    border-radius: 6px;
                    background-color: $dark-blue;
                    padding: 1rem 3rem;
                    cursor: pointer;

                    color: white;
                    font-weight: 500;
                    font-size: 1.2rem;
                    // float: right;
                    transition: all 300ms ease;
                    width: max-content;

                    &:focus {outline: none;}
                    &:hover {background-color: #449bc0ba;}
                }
            }
        }
    }
}