* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #99bfcf #dedede;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1130px) {
  html {
    font-size: 59.5%;
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: 52.5%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 50.5%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1781px) {
  .hideBg {
    display: none;
  }
}

@media only screen and (max-width: 1780px) {
  .hideSm {
    display: none;
  }
}

.gridWrapper {
  display: grid;
  grid-template-columns: [sidebar-start] 250px [sidebar-end main-start] calc(100vw - 250px) [main-end];
  grid-template-rows: 100vh;
}
@media only screen and (max-width: 1780px) {
  .gridWrapper {
    grid-template-columns: [sidebar-start] 90px [sidebar-end main-start] calc(100vw - 90px) [main-end];
  }
}

.sidebar {
  grid-column: sidebar-start/sidebar-end;
  background-color: #449BC0;
  grid-row: 1/-1;
  padding: 4rem 4rem;
  display: grid;
}
@media only screen and (max-width: 1780px) {
  .sidebar {
    padding: 4rem 2rem;
  }
  .sidebar img {
    margin-right: 0rem;
  }
}
.sidebar .logo {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 800;
  color: white;
  align-self: flex-start;
}
.sidebar .logo img {
  margin-right: 1rem;
}
.sidebar .nav ul {
  list-style: none;
}
.sidebar .nav .navitem {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 300ms ease;
}
.sidebar .nav .navitem:hover {
  background-color: rgba(68, 155, 192, 0.7294117647);
}
@media only screen and (max-width: 1780px) {
  .sidebar .nav .navitem {
    text-align: center;
    margin-bottom: 5rem;
  }
  .sidebar .nav .navitem i {
    font-size: 2.5rem;
  }
  .sidebar .nav .navitem i:hover {
    color: rgba(255, 255, 255, 0.773);
  }
}
.sidebar .nav .navlink {
  width: 100%;
  text-decoration: none;
}
@media only screen and (max-width: 1780px) {
  .sidebar .nav .navlink {
    text-align: center;
  }
}
.sidebar .nav .line {
  border: 0;
  height: 1.4px;
  background: #f1f1f1;
  width: 130%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.sidebar .logout {
  display: flex;
  align-items: center;
  align-self: flex-end;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  transition: all 300ms ease;
}
.sidebar .logout img {
  margin-right: 1rem;
}
.sidebar .logout:hover {
  color: rgba(255, 255, 255, 0.773);
}

.main {
  grid-column: main-start/main-end;
  grid-row: 1/-1;
  padding: 4rem;
  display: grid;
  grid-template-rows: [welcome-start] 126px [welcome-end infos-start] 750px [infos-end];
  gap: 100px;
}
@media only screen and (max-width: 1780px) {
  .main {
    padding: 3rem;
  }
}
.main .topbar {
  grid-row: welcome-start/welcome-end;
}
.main .topbar .h1 {
  font-weight: 700;
  font-size: 3.4rem;
  color: #181945;
}
.main .topbar .highlight {
  color: #449BC0;
}
.main .topbar .line {
  margin-top: 4rem;
  height: 1.5px;
  background: #f1f1f1;
  width: 100%;
}
.main section.infos {
  display: grid;
  grid-row: infos-start/infos-end;
  grid-template-columns: 74.5% 23.5%;
  gap: 4rem;
}
.main section.infos .h1 {
  font-weight: 700;
  font-size: 3.4rem;
  color: #181945;
}
.main section.infos .patients {
  display: grid;
  grid-column: 1/2;
}
.main section.infos .patients .form {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main section.infos .patients .form .inputWrapper {
  display: flex;
  align-items: center;
}
.main section.infos .patients .form .input {
  background: #FFFFFF;
  border: 2px solid #666666;
  border-radius: 16px;
  min-width: 35rem;
  padding: 1.25rem 1.25rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.main section.infos .patients .form .input:focus {
  outline: none !important;
}
.main section.infos .patients .form .btnSubmit {
  border: none;
  border-radius: 6px;
  background-color: #449BC0;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.main section.infos .patients .form .btnSubmit:focus {
  outline: none;
}
.main section.infos .patients .form .btnSubmit:hover {
  background-color: rgba(68, 155, 192, 0.7294117647);
}
.main section.infos .patients .form .btnAdd {
  border: none;
  border-radius: 6px;
  background-color: #449BC0;
  padding: 1.3rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  float: right;
  transition: all 300ms ease;
}
.main section.infos .patients .form .btnAdd:focus {
  outline: none;
}
.main section.infos .patients .form .btnAdd:hover {
  background-color: rgba(68, 155, 192, 0.7294117647);
}
.main section.infos .patients thead, .main section.infos .patients tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
.main section.infos .patients thead {
  width: calc(100% - 0.01em);
}
.main section.infos .patients table {
  width: 400px;
  height: 90%;
}
.main section.infos .patients table {
  padding: 3rem;
  border-radius: 16px;
  box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  width: 100%;
}
.main section.infos .patients table thead {
  font-weight: 700;
  font-size: 1.4rem;
  background-color: #FAFAFA;
}
.main section.infos .patients table thead .first {
  border-radius: 16px 0px 0px 0px;
}
.main section.infos .patients table thead .actionTitle {
  color: #FAFAFA;
  border-radius: 0px 16px 0px 0px;
}
.main section.infos .patients table thead td {
  padding: 2rem;
  width: 100%;
}
.main section.infos .patients table tbody {
  display: block;
  height: 100%;
  overflow: scroll;
  height: 50vh;
  width: 100%;
}
.main section.infos .patients table tbody th {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 2rem;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.4rem;
  color: #52575C;
}
.main section.infos .patients table tbody th img {
  margin-right: 1rem;
}
.main section.infos .patients table tbody th.action {
  text-align: center;
}
.main section.infos .patients table tbody th.action button {
  border: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.main section.infos .patients table tbody th.action button:focus {
  outline: none;
}
.main section.infos .myprofile {
  grid-column: 2/3;
  margin-top: 6.5rem;
  width: 100%;
}
.main section.infos .myprofile .h1 {
  font-weight: 700;
  font-size: 3.4rem;
  color: #181945;
}
.main section.infos .myprofile .box {
  background-color: #DBEFFA;
  border-radius: 32px;
  margin-top: 2rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
  padding: 3rem 3rem;
  padding-top: 4rem;
}
.main section.infos .myprofile .box .imgWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.main section.infos .myprofile .box .circle {
  width: 15rem;
  height: 15rem;
  margin-bottom: 3rem;
}
.main section.infos .myprofile .box .circle img {
  width: 100%;
  height: auto;
}
.main section.infos .myprofile .box .name {
  font-weight: 600;
  font-size: 2.6rem;
  color: #181945;
  text-align: center;
}
.main section.infos .myprofile .box .info {
  padding: 2rem 0rem;
}
.main section.infos .myprofile .box .info .data {
  padding: 0.5rem 0;
}
.main section.infos .myprofile .box .info .data .label {
  font-weight: 600;
  font-size: 1rem;
  color: #666666;
  margin-top: 0.1rem;
}
.main section.infos .myprofile .box .info .data .wrap {
  display: flex;
  justify-content: space-between;
}
.main section.infos .myprofile .box .info .data .wrap i {
  color: #A0A4A8;
  font-size: 1.4rem;
  margin-top: -1rem;
  cursor: pointer;
}
.main section.infos .myprofile .box .info .data .wrap .input {
  font-weight: 600;
  margin-top: -1rem;
  font-size: 1.8rem;
  color: #181945;
}

.gameSection {
  transform: translateY(-5%);
}
.gameSection .form {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gameSection .form .inputWrapper {
  display: flex;
  align-items: center;
}
.gameSection .form .input {
  background: #FFFFFF;
  border: 2px solid #666666;
  border-radius: 16px;
  min-width: 35rem;
  padding: 1.25rem 1.25rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.gameSection .form .input:focus {
  outline: none !important;
}
.gameSection .form .btnSubmit {
  border: none;
  border-radius: 6px;
  background-color: #449BC0;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 300ms ease;
}
.gameSection .form .btnSubmit:focus {
  outline: none;
}
.gameSection .form .btnSubmit:hover {
  background-color: rgba(68, 155, 192, 0.7294117647);
}
.gameSection .form .category {
  border: none;
  border-radius: 6px;
  background-color: #449BC0;
  padding: 1.3rem;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  float: right;
  transition: all 300ms ease;
}
.gameSection .form .category:focus {
  outline: none;
}
.gameSection .form .category:hover {
  background-color: rgba(68, 155, 192, 0.7294117647);
}
.gameSection .games {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}
.gameSection .games .game {
  background: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  min-height: 50rem;
}
.gameSection .games .game .imgBox {
  width: 100%;
  height: 60%;
  /* 
      &1 {background-image: url('../images/joguinhos1.png');}
      &2 {background-image: url('../images/joguinhos2.png');}
      &3 {background-image: url('../images/joguinhos3.png');}
      background-size: cover;
      background-repeat: no-repeat; 
  */
}
.gameSection .games .game .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.gameSection .games .game .text {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
}
.gameSection .games .game .text .h2 {
  font-weight: 600;
  font-size: 2.2rem;
  color: #181945;
}
.gameSection .games .game .text .p {
  font-weight: 400;
  font-size: 1.2rem;
}
.gameSection .games .game .text .btnPlay {
  border: none;
  border-radius: 6px;
  background-color: #449BC0;
  padding: 1rem 3rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 300ms ease;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.gameSection .games .game .text .btnPlay:focus {
  outline: none;
}
.gameSection .games .game .text .btnPlay:hover {
  background-color: rgba(68, 155, 192, 0.7294117647);
}

.thisgame {
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.thisgame .h1 {
  font-weight: 700;
  font-size: 3.4rem;
  color: #181945;
}
.thisgame .gamebox {
  width: 100%;
  height: 80vh;
  margin: 8vh 0;
  border-radius: 16px;
  background-color: #CFCFCF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */